<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://sandbox-easy-geowidget-sdk.easypack24.net/inpost-geowidget.css"/>
    <script src='https://sandbox-easy-geowidget-sdk.easypack24.net/inpost-geowidget.js' defer></script>
    <script>
            function afterPointSelected(point) {
              alert('Selected point: ' + point.name);
            }

    </script>
</head>

<body>
<inpost-geowidget onpoint="afterPointSelected" token='token-for-geo' language='pl'
                  config='parcelCollect'></inpost-geowidget>
</body>
</html>