{% extends 'base.html' %}
{% load static %}
{% block stripe %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'main.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="mx-auto col-10 col-md-8 col-lg-6 vh-100 mt-lg-3">
                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="form-group mb-3 col-lg-7">
                        <label for="username" class="mb-2">{{ form.username.name.capitalize}}</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group mb-3 col-lg-7">
                        <label for="username" class="mb-2">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="align-items-center">
                        <button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>
                    </div>
                </form>
                 <div class="border col-lg-5 text-center">
                      <p class="mt-2">Haven't signed up yet?</p>
                      <a href="{% url 'registration' %}" class="btn btn--link">Sign Up</a>
                 </div>
            </div>
        </div>
    </div>
{#  <form method="POST">#}
{#      {% csrf_token %}#}
{#      {{form.as_p}}#}
{#      <input type="submit" value="submit">#}
{#  </form>#}
{%  endblock content %}