{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="mx-auto col-10 col-md-8 col-lg-6 vh-100 mt-lg-3">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p }}

                    <div class="align-items-center">
                        <button type="submit" class="btn btn-primary mt-2 mb-2">Submit</button>
                    </div>
                </form>
                <a href="{% url 'privacy-policy' %}">privacy-policy</a>
            </div>
        </div>
    </div>

{%  endblock content %}
