<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twój koszyk</title>
</head>
<body>
Twój koszyk
<br>
<br>

<li>COUNT ALL {{ cart.count }}</li>
<li> TOTAL COST {{ cart.total }}</li>
-----------------------------------
{% for item in cart %}
    <li>PRODUCT {{ item.product  }}</li>
    <li>PRICE {{ item.price  }}</li>
    <li>SUBTOTAL {{ item.subtotal   }}</li>
   <li>
       <form action="{% url 'delete_one_cart_item' item.product.slug item.id 1 %}" method="post">
           {% csrf_token %}
           <input type="submit" value="minus">
       </form>

            COUNT {{ item.quantity }}
       <form action="{% url 'add_to_cart' item.product.slug item.product.id 1 %}" method="post">
           {% csrf_token %}
           <input type="submit" value="plus">
       </form>
       <form action="{% url 'delete_cart_item' item.product.slug item.id %}" method="post">
           {% csrf_token %}
           <input type="submit" value="DELETE">
       </form>
   </li>
    -----------------------------------------
{% endfor %}


</body>
</html>