{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}

<div class="container mt-5" style="padding-left: 20%; padding-right: 20%;">
    <h3 class="mb-4">Twój koszyk</h3>

    <ul class="list-group mb-3">
        <li class="list-group-item">Wszystkich elementów: <strong>{{ cart.count }}</strong></li>
        <li class="list-group-item">Całkowity koszt: <strong>{{ cart.total }}</strong></li>
    </ul>

    {% for item in cart %}
    <div class="card mb-5">
        <div class="card-body">
            <h5 class="card-title">Produkt: {{ item.product }}</h5>
            <p class="card-text">Cena jednostkowa: {{ item.price }}</p>
            <p class="card-text">Całkowity koszt: {{ item.subtotal }}</p>
            <div class="row align-items-center">
                <div class="col-md-1">
                    <form action="{% url 'delete_one_cart_item' item.product.slug item.id 1 %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary" type="submit">-</button>
                    </form>
                </div>
                <div class="col-md-3">
                    <span class="mx-2">Liczba produktów: {{ item.quantity }}</span>
                </div>
                <div class="col-md-1">
                    <form action="{% url 'add_to_cart' item.product.slug item.product.id 1 %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-outline-primary" type="submit">+</button>
                    </form>
                </div>
                <div class="col-md-1">
                    <form action="{% url 'delete_cart_item' item.product.slug item.id %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Usuń</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}
