{% extends 'base.html' %}

{% block content %}

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Kategorie</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        {% for category in categories %}
        <div class="col d-flex align-items-start">
            <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#toggles2"></use>
                </svg>
            </div>
            <div>

                <h3 class="fs-2 text-body-emphasis">{{ category }}</h3>
                <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                    and probably just keep going until we run out of words.</p>
                <a href="{% url 'category-detail' category.slug category.pk %}" class="btn btn-primary">
                    Sprawdź
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}