{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
<style>
.product-img {
    width: 100%;
    height: 13vw;
    object-fit: cover;
}

</style>

<div class="container">
    <h1 class="mt-5">DShop collection</h1>
    <div class="row mt-4">
        {% for object in object_list %}

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">


                    <h5 class="card-title"><a href="{% url 'product-detail' object.slug object.pk %}">{{ object.name }}</a></h5>
                    <p class="card-text">Opis: {{ object.short_description|safe }}</p>
                    <p class="card-text">Cena: {{ object.price }} PLN</p>
                    <small>Cena z ostatnich 30 dni: {{ object.lowest_price_last_30_days }} PLN</small>
                    <hr>
                    {% if not object.images.all %}
                    <p>Brak zdjęć</p>
                    {% else %}

                        {% for pic in object.featured_photos %}
                            {% thumbnail pic.image "200x200" crop="center" as im %}
                                <a href="{% url 'product-detail' object.slug object.pk %}">
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                </a>
                            {% endthumbnail %}
                        {% empty %}
                            {% thumbnail object.images.first.image "200x200" crop="center" as thumb %}
                                <a href="{% url 'product-detail' object.slug object.pk %}">
                                    <img src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
                                </a>
                            {% endthumbnail %}
                        {% endfor %}
                    {% endif %}
                    <hr>
                    <form action="{% url 'add_to_cart_view' object.slug object.pk 1 %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Dodaj do koszyka">
                    </form>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"4" %}
        <div class="clearfix"></div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}


