{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox-plus-jquery.js"></script>
<script>
    lightbox.option({
      'wrapAround': true
    })
</script>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            {% for pic in product.images.all %}
                            <div class="text-center p-4">
                                {% thumbnail pic.image "300x300" crop="center" as im %}

                                {% thumbnail pic.image "800" as im_lightbox %}
                                    <a href="{{ im_lightbox.url }}" data-lightbox="image-1">
                                        <img id="main-image" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    </a>
                                {% endthumbnail %}
                                {% endthumbnail %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-4">
                            <div class="d-flex justify-content-between align-items-center">

                                <a href="{% url 'products-list' %}">
                                    <div class="d-flex align-items-center btn btn-primary"><span
                                            class="ml-1">Back</span></div>
                                </a>

                            </div>
                            <div class="mt-4 mb-3"><span class="text-uppercase text-muted brand">{{ product.category.name }}</span>
                                <h5 class="text-uppercase">{{ product.name }}</h5>
                                <div class="price d-flex flex-row align-items-center"><span class="act-price">Cena: {{ product.price }} PLN</span>
                                </div>

                                <div class="ml-2"><small class="dis-price">Cena z ostatnich 30 dni: {{ product.lowest_price_last_30_days }} PLN</small> <span></span></div>

                            </div>
                            <p class="about">{{ product.full_description|safe }}</p>

                            <div class="cart mt-4 align-items-center">
                                <form action="{% url 'add_to_cart_view' object.slug object.pk 1 %}" method="post">
                                    {% csrf_token %}
                                    <input class="btn btn-danger text-uppercase mr-2 px-4" type="submit" value="Dodaj do koszyka">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}